Package: lsb-release-udeb
Source: base-files
Version: 12.2ubuntu3+vanilla-2
Architecture: all
Maintainer: Mirko Brombin <send@mirko.pm>
Installed-Size: 4
Section: debian-installer
Priority: extra
Description: LSB release information
Original-Maintainer: Santiago Vila <sanvila@debian.org>
